* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f7fa;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #111;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00adb5;
}

/* Sections */
section {
    padding: 80px 10%;
    text-align: center;
}

#hero {
    background: linear-gradient(to right, #00adb5, #0077b6);
    color: white;
    padding: 120px 10%;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #0077b6;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: #111;
    color: white;
}

/* Skills */
.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.skill {
    background: #0077b6;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
}

/* Projects */
.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.skill-category {
    margin-top: 40px;
}

.skill-category h3 {
    margin-bottom: 20px;
    color: #0077b6;
}
.typing {
    color:  #FFD700;
    font-weight: bold;
    border-right: 3px solid white;
    padding-right: 5px;
}
.project-card {
    background: white;
    width: 280px;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

#about {
    max-width: 800px;
    margin: auto;
    line-height: 1.7;
}

#about p {
    margin-top: 20px;
}

/* Footer */
footer {
    background: #111;
    color: white;
    padding: 20px;

}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 10%;
}

.hero-text {
    flex: 1;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #00ADB5;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
